<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- DataTable Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">


    <!-- Local styles-->
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Micro-service</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Username
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sign out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- Datatable -->
    <div class="container justify-content-center pt-5">
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Key</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Father Lastname</th>
                    <th>Mother Lastname</th>
                    <th>User Type</th>
                    <th>Date Start Session</th>
                    <th>Date End Session</th>
                    <th>Online Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>123456</td>
                    <td>FGJH8D</td>
                    <td>Jack Dorsey</td>
                    <td>jack</td>
                    <td>Dorsey</td>
                    <td>Ruller</td>
                    <td>ADMIN</td>
                    <td>28/05/22</td>
                    <td>28/06/23</td>
                    <td>3:15</td>
                    <td>OFFLINE</td>
                </tr>
                <tr>
                    <td>123456</td>
                    <td>FGJH8D</td>
                    <td>Evan Williams</td>
                    <td>ev</td>
                    <td>Williams</td>
                    <td>Turner</td>
                    <td>ADMIN</td>
                    <td>28/05/22</td>
                    <td>28/06/23</td>
                    <td>3:15</td>
                    <td>OFFLINE</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>def456</td>
                    <td>Samantha</td>
                    <td>sammy</td>
                    <td>Lee</td>
                    <td>Chen</td>
                    <td>User</td>
                    <td>2022-01-02 13:00:00</td>
                    <td>2022-01-02 16:00:00</td>
                    <td>3 hours</td>
                    <td>Inactive</td>
                </tr>
                
                <tr>
                    <td>3</td>
                    <td>ghi789</td>
                    <td>Michael</td>
                    <td>mike123</td>
                    <td>Wu</td>
                    <td>Gonzalez</td>
                    <td>Admin</td>
                    <td>2022-01-03 09:00:00</td>
                    <td>2022-01-03 18:00:00</td>
                    <td>9 hours</td>
                    <td>Active</td>
                </tr>
                
                <tr>
                    <td>4</td>
                    <td>jkl012</td>
                    <td>Jane</td>
                    <td>jane_doe</td>
                    <td>Smith</td>
                    <td>Wong</td>
                    <td>User</td>
                    <td>2022-01-04 10:00:00</td>
                    <td>2022-01-04 16:00:00</td>
                    <td>6 hours</td>
                    <td>Inactive</td>
                </tr>
                
                <tr>
                    <td>5</td>
                    <td>mno345</td>
                    <td>David</td>
                    <td>david123</td>
                    <td>Kim</td>
                    <td>Park</td>
                    <td>Admin</td>
                    <td>2022-01-05 11:00:00</td>
                    <td>2022-01-05 20:00:00</td>
                    <td>9 hours</td>
                    <td>Active</td>
                </tr>
                
                <tr>
                    <td>6</td>
                    <td>pqr678</td>
                    <td>Sophie</td>
                    <td>sophie_w</td>
                    <td>Lee</td>
                    <td>Chen</td>
                    <td>User</td>
                    <td>2022-01-06 13:00:00</td>
                    <td>2022-01-06 17:00:00</td>
                    <td>4 hours</td>
                    <td>Inactive</td>
                </tr>
                
                



            </tbody>
            <tfoot>
                <tr>
                    
                </tr>
            </tfoot>
        </table>
    </div>



 <script defer src="./scripts/datatable.js"></script>
    
 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSliN5" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Datatable JS -->
<script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>
</html>